=content_for :right_sidebar do
  =render :partial =>  'shared/price'
  =link_to image_tag('logo_small_red_realtor.gif'), "http://www.dom2a.ru"
%h2= @static_content.title_table.html_safe unless @static_content.nil?
%table{ :class => 'table table-bordered'}
  %thead
    %tr
      %th= I18n.t('common.place')
      %th= I18n.t('company.realtor')
      %th=I18n.t('company.value')
  %tbody
    - @companies.each do |company|
      %tr
        %td
          =company.current_place.to_s
          ="(#{company.last_place.to_s})"
        %td= company.name
        %td= number_to_percentage(company.percent, :precision => 2)
-@under_table_text.each do |text|
  %p
    =text.under_text.html_safe

